@font-face {
  font-family: "DTM-Mono";
  src: url("DeterminationMonoWeb");
}
@font-face {
  font-family: "DTM-Sans";
  src: url("DeterminationSansWeb");
}
@font-face {
  font-family: "Mars-Needs-Cunnilingus";
  src: url("Mars Needs Cunnilingus.ttf");
}
